[defaults]
host_key_checking = False
retry_files_enabled = False
stdout_callback = yaml
stderr_callback = debug
verbose_to_stderr = True
vault_id_match = False
roles_path = ./roles
collections_path = ./collections:~/.ansible/collections:/usr/share/ansible/collections

[ssh_connection]
host_key_checking = False

[galaxy]
server_list = automation_hub, galaxy

[galaxy_server.automation_hub]
url = https://console.redhat.com/api/automation-hub/content/published/
auth_url = https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token

[galaxy_server.galaxy]
url = https://galaxy.ansible.com/
