---
# Copy this file to secrets.yml and fill in real values.
# Then encrypt: ansible-vault encrypt cac/vars/secrets.yml
#
vault_aap_password: '<your-aap-admin-password>'
vault_vault_password: '<your-ansible-vault-password>'
vault_git_private_key: |
  -----BEGIN OPENSSH PRIVATE KEY-----
  <your-ssh-private-key>
  -----END OPENSSH PRIVATE KEY-----

vault_automationhub_token: '<your-automation-hub-token>'

vault_rhel_ssh_private_key: |
  -----BEGIN OPENSSH PRIVATE KEY-----
  <your-rhel-ssh-private-key>
  -----END OPENSSH PRIVATE KEY-----

vault_windows_password: '<your-windows-password>'
vault_report_server_pass: '<your-report-server-password>'
